body {
/*	background:url("http://silverapps.ru/fon.png");*/
        background: url(/images/background.jpg) no-repeat right top fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	font-family: Georgia, Serif;
	font-size: 13px;
	}

hr {
	border: none;
	background-color: #8bc;
	color: #8bc;
	height: 3px;
	}

img {
	vertical-align:middle;
	}
a {
	display:inline-block;
}
A {
	text-decoration: none;
	color: black;
	} 
A:hover { 
	color: white;
	}

.login a {
	position:fixed;
	right:1.5em;
	top:1em;
	color: white;
	font-size: 16pt;
	text-decoration: underline;
	font-weight: normal;
	font-style: italic;
	}
.login a:hover {
  color: #ff9999;
}

.title {
  width: 70%;
  margin: auto;
  font-size: 50pt;
  font-family: Georgia, Serif;
  font-style: italic;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 50px;
  color: E6DAB5;
  text-shadow: 0px 1px 2px #202020;
}

.application a:hover {
  color: #333399;
}

.app_box {
	display: flex;
	display: -ms-flexbox; /*For IE*/
    justify-content: center;
	-ms-flex-pack: center; /*For IE*/
	flex-wrap: wrap;
	-ms-flex-wrap: wrap; /*For IE*/
}

.app_bin {
	border-radius: 5px;
	padding: 5px;
	margin: 2px;
	background: #CDB97D;
	width: 200px;
	opacity: 0.6;
}

.app_bin:hover {
	opacity: 1;
}

.app_bin a:hover {
	opacity: 1;
/*	color: green;*/
}

.app_region_title {
	text-align: center;
	border-bottom: 2px solid;
	font: bold normal 130% Georgia Serif;
}

.app_region_text {
	text-align: left;
	font-style: italic;
}
